<div class="container">
  <h1>ToDo List</h1>
</div>
<div class="mat-app-background container todo">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="inputForm" class="example-form" >
            <mat-form-field class="example-full-width">
              <mat-label>Add Todo</mat-label>
              <input matInput placeholder="Ex. Pizza" value="Sushi"
              #newTodo
              required
              formControlName="todo">
              <mat-error hidden="!(todo.dirty)">Enter Something</mat-error>
            </mat-form-field>
              <button mat-button (click) ="addnewTodo()">Add new to-do</button>
        </form>
       <div class="d-flex bd-highlight mb-3 justify-content-around"  *ngFor="let todo of (todos | async); let i = index">
       <span class="mr-auto p-2 bd-highlight">
         {{ todo.description }}
       </span>
        <mat-checkbox class="p-3 bd-highlight items-center h-25" [(ngModel)]="todo.completed" ></mat-checkbox>
        <button mat-button class="pb-2 bd-highlight" (click)= "deleteTodo(todo._id)"><i aria-hidden="true" class="material-icons">delete</i></button>
           <button mat-button class="pb-2 bd-highlight" (click) = "editTodo(todo)">edit</button>
       </div>
      </div>
    </div>
  </div>
